extends layout

block content
  div.container
    div.row
      div.col-lg-6.col-md-12
        div.mr-1
          div(class='map-canvas', id='p5canvas')
      div.col-lg-6.col-md-12
        div.ml-1.panel.p-4
          h1= title
          p Welcome to #{title}
          button#northButton north
          button#southButton south
          button#westButton west
          button#eastButton east
          button#resetButton reset
