extends layout

block content
  div.container
    div.row
      div.col-lg-6.col-md-12
        div.mr-1
          div(class='map-canvas', id='p5canvas')
      div.col-lg-6.col-md-12.card
        div.ml-1.p-4.card-body
          h1= title
          div.container
            div.row
              div.col-9
                div.container
                  div.row
                    div.col-4.wrapper
                      button.btn.btn-outline-secondary#undoButton Undo
                    div.col-4.wrapper
                      button.btn.btn-outline-primary#northButton North
                    div.col-4.wrapper
                      button.btn.btn-outline-secondary#resetButton Reset
                  div.row
                    div.col-4.wrapper
                      button.btn.btn-outline-primary#westButton West
                    div.col-4.wrapper
                      button.btn.btn-outline-secondary#stealthButton Stealth
                    div.col-4.wrapper
                      button.btn.btn-outline-primary#eastButton East
                  div.row
                    div.col-4.wrapper
                      button.btn.btn-outline-secondary#sonarButton Sonar
                    div.col-4.wrapper
                      button.btn.btn-outline-primary#southButton South
                    div.col-4.wrapper
                      button.btn.btn-outline-secondary#droneButton Drone
              div.col-3
                ul.list-group.slide-fade.scrollbar.scrollbar-primary#moveList
